.cdItem {
  x: 20;
  font-family: "System-Regular";
  fill: "white";
}

#cdHeader {
  font-size: 30;
  y: 50;
  fill: "cyan";
}

#cdTimer {
  y: 180;
  font-size: 100;
}

#cdText {
  y: 210;
  font-size: 25;
  fill: "red";
}

.tile-list-item {
    height: 40;
  }

  .tile-list-header {
    height: 40;
  }

  .tile-list-header text {
    font-size: 30;
    font-family: System-Regular;
    fill: "cyan";
    font-weight: bold;
  }
    
  .tile-list-item text {
    font-size: 20;
    font-family: System-Regular;
    fill: "white";
  }
  
  .tile-list-footer textarea {
    font-size: 20;
    font-family: System-Regular;
    fill: "cyan";
  }
